@font-face {
    font-family: 'IranianSans';
    src: url('../../fonts/IranianSans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BNazanin';
    src: url('../../fonts/B-Nazanin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* استفاده‌ی عمومی در کل صفحه */
body {
    font-family: 'IranianSans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.nazanin {
    font-family: 'BNazanin', 'Iranian Sans', sans-serif;
}